@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Oswald:wght@200..700&family=Permanent+Marker&display=swap');

.font {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

.mainheader {
    background-image: linear-gradient(to bottom right, #C9C200, #E43131);
    padding: 20px;
    text-align: center;
}
.subheader{
    background-image: linear-gradient(to bottom right, #e24545, #b1b1b1);
}

.body-background {
    background-image: linear-gradient(to bottom right, #f86d0a, #C9C200);
    min-height: 100vh;
}

.button-color {
    background-image: linear-gradient(to right, #7E1B1B, #E43131);
    color: white;
    border: none;
}
.text-size{
    font-size: x-large;
}

html, body {
    margin: 0;
    overflow: hidden;
}

#header {
    text-align: center;
    margin-top: 20px;
}
.searchbar1{
    text-align: center;
}
.searchbar2{
    text-align: center;
    margin-left: 400px;
}
.searchbar3{
    text-align: center;
    margin-left: 200px;
}
